spring:
  datasource:
    url: ${USER_DB_URL:jdbc:mysql://${USER_DB_HOST:localhost}:3306/user_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=TRUE}
    username: ${USER_DB_USERNAME:root}
    password: ${USER_DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: ${USER_SERVICE_PORT:8081}
