spring:
  datasource:
    url: ${USER_DB_URL:jdbc:postgresql://${USER_DB_HOST:localhost}:5432/user_db}
    username: ${USER_DB_USERNAME:root}
    password: ${USER_DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${USER_SERVICE_PORT:8081}
