services:
  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD:-guest}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  aqua_app:
    image: postgres:16
    environment:
      POSTGRES_USER: ${USER_DB_USERNAME:-root}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD:-root}
      POSTGRES_DB: ${APP_DB_NAME:-app_db}
    ports:
      - "5432:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data
    networks:
      - app-network

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    environment:
      USER_DB_HOST: aqua_app
      USER_DB_USERNAME: ${USER_DB_USERNAME:-root}
      USER_DB_PASSWORD: ${USER_DB_PASSWORD:-root}
      USER_DB_URL: jdbc:postgresql://aqua_app:5432/${APP_DB_NAME:-app_db}
    depends_on:
      - aqua_app
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    ports:
      - "8082:8082"
    environment:
      USER_SERVICE_URL: http://user-service:8081
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      JWT_SECRET: ${JWT_SECRET:-MY_SUPER_SECRET_KEY_123456789012345678901234}
    depends_on:
      - user-service
      - rabbitmq
    networks:
      - app-network

  notification-service:
    build: ./notification-service
    ports:
      - "8083:8083"
    environment:
      NOTIFY_DB_HOST: aqua_app
      NOTIFY_DB_USERNAME: ${NOTIFY_DB_USERNAME:-root}
      NOTIFY_DB_PASSWORD: ${NOTIFY_DB_PASSWORD:-root}
      NOTIFY_DB_URL: jdbc:postgresql://aqua_app:5432/${APP_DB_NAME:-app_db}
      USER_SERVICE_URL: http://user-service:8081
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD:-guest}
      SMTP_HOST: ${SMTP_HOST:-localhost}
      SMTP_PORT: ${SMTP_PORT:-1025}
      SMTP_USER: ${SMTP_USER:-}
      SMTP_PASS: ${SMTP_PASS:-}
    depends_on:
      - aqua_app
      - rabbitmq
    networks:
      - app-network

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    environment:
      USER_SERVICE_URL: http://user-service:8081
      AUTH_SERVICE_URL: http://auth-service:8082
      NOTIFICATION_SERVICE_URL: http://notification-service:8083
      JWT_SECRET: ${JWT_SECRET:-MY_SUPER_SECRET_KEY_123456789012345678901234}
    depends_on:
      - auth-service
      - user-service
      - notification-service
    networks:
      - app-network
      
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - app-network

volumes:
  user_db_data:
  aquarium_storage:

networks:
  app-network:
